* {
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    width: 100vw;
    height: 100vh;
}

header, aside, main, footer {
    padding-top: 10px;
    padding-left: 20px;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: aliceblue;
}

aside {
    float: left;
    width: 25vw;
    height: 70vh;
    background-color:goldenrod;
    border: 1px;
}

aside ul {
    padding-left: 20px;
}

main {
    float: left;
    width: 75vw;
    height: 70vh;
    background-color: blanchedalmond;
    border: 1px;
}

footer {
    float: left;
    width: 100vw;
    height: 15vh;
    background-color:cornsilk;
    border: 1px;
}